/* Desktop Navigation */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

#desktop-nav {
  position: sticky;
  top: 0;
  background-color: white;
  height: 100px;
  z-index: 100;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-logo {
  width: 50px;
  margin-top: -20px;
  border-radius: 10px;
}

/* Mobile Navigation */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;

}

.menu-links ul {
  display: flex;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}


/* Section Styling */

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 50%;
}

.section_pic-container img {
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
  display: flex;
  flex-direction: row;
}

/* Social Icons */

.icon {
  cursor: pointer;
  height: 2rem;
}


/* About Section */

.about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

/* services */
.services {
  position: relative;
}

.details-container {
  padding: 1.5rem;
  flex: 0 0 calc(25% - 40px); /* Set the width for each project container */
  background: white;
  border-radius: 2rem;
  border: 1px solid rgb(163, 163, 163);
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Add smooth transition for sliding effect */
  overflow: hidden; /* Hide overflow content */
}

.details-container p, li {
  font-size: 18px;
  margin: 1rem;
}

.mic-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.mic-list {
  flex-direction: column;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.mic-list li {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align content */
  margin-bottom: 10px;
  list-style: none;
  line-height: 2rem;
}

.mic-list li h3 {
  margin: 5px 0;
  font-size: 24px;
}

.mic-list li p {
  margin: 0;
  font-kerning: 1rem;
  font-size: 16px;
}

.mic-list img {
  justify-content: center;
}
/* services  */

.services {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.bronzeIcon img,
.silverIcon img,
.goldIcon img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.bronzeIcon img {
  background-color: #cd7f32;
}

.silverIcon img {
  background-color: #c0c0c0;
}

.goldIcon img {
  background-color: #ffd700;
}

/* Experience */

#clients {
  position: relative;
}

.clients-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.clients-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

.clients {
  background: linear-gradient(180deg, var(--secondary), var(--teriary));
  text-align: center;
  padding: 40px 20px;
  height: auto;
  width: 90%;
  border-radius: 8px;
  margin: auto;
  margin-top: 50px !important;
  margin-bottom: 50px;
}

.clients-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
}

.client {
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: var(--primary);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  width: fit-content;
}

.client h2 {
  margin-bottom: 10px;
}

.client img {
  width: 400px;
  height: fit-content;
  border-radius: 10px;
}

.client-image-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.client-logo {
  width: fit-content;
  height: auto;
  transition: transform 0.3s;
}

.client-image-container:hover .client-logo {
  transform: scale(1.1);
  cursor: pointer;
}

.client-logo:active {
  transform: scale(1);
}

/* About */

#about {
  height: fit-content;
}

.team-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.team-containers h2 {
  font-size: 2rem;
}

.team-containers h3 {
  font-size: 1rem;
}

.team-containers p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.team-containers img {
  width: auto;
  height: 150px;
  border-radius: 10%;
}

/* Contact */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

/* Footer */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


